.main-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.main-header {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 15px;
    color: #1a1a1a;
  }
}
.main-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 32px;
    font-weight: 600;
  }
  @media screen and (max-width: 768px) {
    p {
      font-size: 28px;
    }
  }
  @media screen and (max-width: 375px) {
    p {
      font-size: 28px;
    }
  }
}
.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.loading-spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-btn-main {
  background-color: #111;
  color: #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  width: 335px;
  height: 48px;
  padding: 12px 12px;
  border-radius: 12px;
  border: none;
} 