.result-background {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  @media screen and (max-width: 768px) {
    height: fit-content;
  }
  @media screen and (max-width: 375px) {
    height: fit-content;
  }
}
.result-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 40px;
  padding: 0 0 60px 0;
  background-color: #fafafa;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    z-index: 1;
  }

  .result-header,
  .result-body {
    position: relative;
    z-index: 2;
  }
}

.result-header {
  height: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 15px;
    color: #fff;
  }
}

.result-body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  &-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    gap: 40px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    @media screen and (max-width: 375px) {
      flex-direction: column;
    }
  }
}

.left-box {
  width: 100%;
  img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 24px;
  }
}

.right-box {
  gap: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info-box {
  &-content {
    flex: 1;
    height: 100%;
    text-align: left;

    p {
      margin: 0;
      font-size: 15px;
      color: #111;

      span {
        opacity: 50%;
        font-size: 15px;
        color: #111;
      }
    }
  }

  &-row {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 16px;
    background-color: #fff;
    padding: 20px;
    gap: 16px;
    @media screen and (max-width: 768px) {
      flex-direction: row;
    }
    @media screen and (max-width: 375px) {
      flex-direction: column;
    }
  }

  &-col {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 16px;
    background-color: #fff;
    padding: 20px;
    gap: 16px;
  }
}

.skeleton {
  &-left-box {
    flex: 1;
    padding: 20px;

    div {
      width: 100%;
      height: 450px;
      border: none;
      border-radius: 24px;
      animation: skeleton-loading 1.5s infinite ease-in-out;
      background-color: #e0e0e0;
    }
  }

  &-right-box {
    flex: 1;
    padding: 20px;
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  &-info-box {
    height: 85px;
    border: none;
    border-radius: 16px;
    animation: skeleton-loading 1.5s infinite ease-in-out;
    background-color: #e0e0e0;
  }

  &-info-button {
    height: 48px;
    display: flex;
    justify-content: center;

    div {
      height: 48px;
      width: 154px;
      border: none;
      border-radius: 12px;
      animation: skeleton-loading 1.5s infinite ease-in-out;
      background-color: #e0e0e0;
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.download-link {
  text-decoration: underline;
  color: #111;
  opacity: 50%;
  &:hover {
    color: #555;
  }
}
