.result-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 40px;
  padding: 0 0 60px 0;
  background-color: #bbb;
}
.result-header {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-header p {
  font-size: 15px;
  color: #fff;
}
.result-body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-body-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 40px;
}

.left-box {
  flex: 1;
  padding: 20px;
}
.left-box img {
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 24px;
}

.right-box {
  flex: 1;
  padding: 20px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.info-box-content {
  flex: 1;
  height: 100%;
  text-align: left;
}

.info-box-content p {
  margin: 0;
  font-size: 15px;
  color: #111;
}

.info-box-content p span {
  opacity: 50%;
  font-size: 15px;
  color: #111;
}

.info-box-row {
  display: flex;
  flex-direction: row;
  height: 42px;
  border: none;
  border-radius: 16px;
  background-color: #fff;
  padding: 20px;
  gap: 16px;
}

.info-box-col {
  display: flex;
  flex-direction: column;
  height: 100px;
  border: none;
  border-radius: 16px;
  background-color: #fff;
  padding: 20px;
  gap: 16px;
}

.skeleton-left-box {
  flex: 1;
  padding: 20px;
}
.skeleton-left-box div {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 24px;
  animation: skeleton-loading 1.5s infinite ease-in-out;
  background-color: #e0e0e0;
}
.skeleton-right-box {
  flex: 1;
  padding: 20px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.skeleton-info-box {
  height: 85px;
  border: none;
  border-radius: 16px;
  animation: skeleton-loading 1.5s infinite ease-in-out;
  background-color: #e0e0e0;
}
.skeleton-info-button {
  height: 48px;
  display: flex;
  justify-content: center;
}

.skeleton-info-button div {
  height: 48px;
  width: 154px;
  border: none;
  border-radius: 12px;
  animation: skeleton-loading 1.5s infinite ease-in-out;
  background-color: #e0e0e0;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.loading-spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-btn-detail {
  background-color: #111;
  color: #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  width: 154px;
  height: 48px;
  padding: 12px 12px;
  border-radius: 12px;
  border: none;
}
