.not-found {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
  }

  &-title {
    font-size: 6rem;
    margin: 0;
    color: #333;
  }

  &-description {
    font-size: 1.5rem;
    color: #666;
  }
}

.home-button {
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #ff6161;
  }
} 